.trigger {
  cursor: pointer;
}

.content {
  padding-top: 24px;
}

.trigger--pregunta{
  display: flex;
  width: 100%;
  background: white;
}


.trigger--titlo-menu {
  display: flex;
  width: 90%;
  background: white;
  align-items: center;
  border: none;
  border-bottom: 1px solid gray;
  justify-self: center;
  margin-bottom: 5rem;
  
}

.trigger--titlo-menu--visible{
  margin: 0px;
}

.content--opciones-menu--visible{
  display: flex;
  width: 90%;
  background: white;
  align-items: center;
  border: none;
  background: #f4f4f4;
  justify-self: center;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 2rem;
  padding-top: 0;
}

@media (max-width: 64rem){
  .trigger--titlo-menu{
    display: flex;
  width: 100%;
  background: white;
  align-items: center;
  border: none;
  border-bottom: 1px solid gray;
  justify-self: center;
  margin-bottom: 3rem;
  }

  .trigger--titlo-menu--visible{
    margin: 0px;
  }

  .content--opciones-menu{
    display: flex;
    width:100%;
    background: white;
    align-items: center;
    border: none;
    background: #f4f4f4;
    justify-self: center;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 2rem;
  }

  .trigger--titlo-menu--visible{
    background: #FABD01;
     
  }

.trigger--titlo-menu--visible :global(.vtex-rich-text-0-x-container){
  font-weight: 800;
}

.trigger--titlo-menu{
  display: flex;
  justify-content: space-between;
}

.content--opciones-menu--visible{
    margin-bottom: 0px !important;
  }

   }


   :global(.vtex-disclosure-layout-1-x-trigger--question-preguntas-frecuentes-container--hidden) {
    width: 100%;
    border: none;
    border-radius: 0.4rem;
   }

   :global(.vtex-disclosure-layout-1-x-trigger--question-preguntas-frecuentes-container--visible) {
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   }

   

   :global(.vtex-disclosure-layout-1-x-content--content-preguntas-frecuentes-container--visible){
    border: 1px solid black;
    border-radius: 0.4rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
   }

   :global(.vtex-disclosure-layout-1-x-trigger--question-preguntas-frecuentes-container-10--hidden){
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
   }

   :global(.vtex-disclosure-layout-1-x-trigger--question-preguntas-frecuentes-container-10--visible){
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   }

   :global(.vtex-disclosure-layout-1-x-content--content-preguntas-frecuentes-container-10--visible){
     border: 1px solid black;
    border-radius: 0.4rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2rem;
   }
