.menuContainer--flexCol {
  display: flex;
  flex-flow: column nowrap;
}

.styledLinkContainer--flexCol {
  margin: 0;
  padding: 0;
}

.styledLink--flexCol {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}

.menuContainer--menuDrawer {
  flex-flow: column nowrap;
}

.styledLinkContainer--departItem {
  margin: 0;
  padding: 0;
}

.styledLinkContent--departItem {
  font-size: 16px;
  line-height: 44px;
  color: #717786;
}

.styledLinkContent--industrias-menu-class:hover {
  font-weight: 900;
  color: #000000;
}

.menuItem--productos-menu-class--isOpen :global(.vtex-menu-2-x-styledLinkContent--productos-menu-class),
.menuItem--industrias-menu-class--isOpen :global(.vtex-menu-2-x-styledLinkContent--industrias-menu-class),
.menuItem--marcas-menu-class--isOpen :global(.vtex-menu-2-x-styledLinkContent--marcas-menu-class) {
  font-weight: 700;
  color: #000000;
}

.menuContainerNav--menuDrawer {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #dee7ef;
}

.styledLinkContainer--currencyFakeDropdown {
  padding: 0px 48px 0px 16px;
  margin: 0;
  margin-right: 16px;
  height: 42px;
  line-height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  position: relative;
}

.menuContainerNav--currencyFakeDropdown {
  display: flex;
  align-items: center;
}

.styledLinkContent--currencyFakeDropdown {
  font-size: 14px;
  line-height: 42px;
  color: #fff;
}

.styledLinkContainer--currencyFakeDropdown::after {
  content: url("assets/icons/chevronDownSwitcher.svg");
  position: absolute;
  right: 16px;
  top: 0;
}

@media (max-width: 64rem) {
  .styledLinkContainer--currencyFakeDropdown {
    border: none;
  }
}

.menuItem--primer-header {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

/*submenu*/

.menuItem--contenedor_submenu1 .menuItem {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.menuItem--contenedor_submenu1 .styledLinkContent:hover {
  transition: border-bottom 0.3s ease;
  border-bottom: 1px solid #000000;
}

/*
.styledLinkContainer--contenedor_submenu1 .styledLinkContainer{
  display: flex;
  align-items: center;
  height: 35px;
}

.styledLinkContainer--contenedor_submenu1 .styledLinkContainer:hover{
  background-color: #007BFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

*/


.submenuWrapper {
  border-color: white !important;
}


.styledLinkContent--identificacion-class {
  width: 113px !important;
  height: 20px;
}


.styledLinkContent--aislamiento-class {
  height: 20px;
}

.styledLinkContent--materiales-class {
  height: 20px;
}


.styledLinkContent--sujecion-fijacion-class {
  width: 150px !important;
  height: 20px;
}

.styledLinkContent--herramientas-class {
  width: 108px !important;
  height: 20px;
}

.styledLinkContent--enchufes-toma-class {
  width: 220px !important;
  height: 20px;
}

.styledLinkContent--iluminacion-class {
  width: 92px !important;
  height: 20px;
}


.styledLinkContent--llave-termomagneticas-class {
  height: 20px;
}

.styledLinkContent--tableros-cajas-class {
  width: 132px !important;
  height: 20px;
}


/*



*/

.styledLinkContent--industria-electrica-class {
  width: 155px !important;
  height: 20px;
}

.styledLinkContent--industria-metal-class {
  width: 202px !important;
  height: 20px;
}

.styledLinkContent--telecomunicaciones-class {
  width: 163px !important;
  height: 20px;
}

.styledLinkContent--embalaje-class {
  width: 75px !important;
  height: 20px;
}

.styledLinkContent--mineria-class {
  width: 60px !important;
  height: 20px;
}

.styledLinkContent--industria-hidraulica-class {
  width: 165px !important;
  height: 20px;
}


/*



*/

.styledLinkContent--brand-class {
  width: 60px !important;
  height: 20px;
}


.styledLinkContent--hont-class {
  width: 40px !important;
  height: 20px;
}

.styledLinkContent--strike-class {
  width: 50px !important;
  height: 20px;
}

.styledLinkContent--transpak-class {
  height: 20px;
}



.styledLinkContent--ybico-class {
  width: 41px !important;
  height: 20px;
}

.styledLinkContent--fulton-class {
  width: 55px !important;
  height: 20px;
}

.styledLinkContent--bals-class {
  width: 36px !important;
  height: 20px;
}

.styledLinkContent--condu-it-class {
  width: 70px !important;
  height: 20px;
}


.styledLinkContent--agra-tools-class {
  width: 89px !important;
  height: 20px;
}

.styledLinkContent--woer-class {
  width: 43px !important;
  height: 20px;
}

.styledLinkContent--starker-t-c-class {
  height: 20px;
}

.styledLinkContent--starker-p-s-class {
  height: 20px;
}

.styledLinkContent--bandimex-class {
  width: 74px !important;
  height: 20px;
}

.styledLinkContent--doepke-class {
  width: 58px !important;
  height: 20px;
}

.styledLinkContent--starker-c-t-class {
  width: 92px !important;
  height: 20px;
}


.styledLinkContent--cnhowder-t-c-class {
  height: 20px;
}

.styledLinkContent--tlk-tools-class {
  width: 78px !important;
  height: 20px;

}

@media (max-width: 64rem) {

  .menuItem--contenedor_submenu1 .menuItem {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }


  .styledLinkContent {
    white-space: normal !important;
    height: 65px;
  }

  .menuItem--contenedor_submenu1 .styledLinkContent:hover {
    border-bottom: none;
    margin-bottom: 1rem
  }

  .styledLink--identificacion-class {
    display: flex;
    align-items: center;
  }

  .styledLinkContent {
    display: flex;
    align-items: center;
  }

  .menuItem--identificacion-class {
    border-top: solid white;
  }

  .menuItem {

    border-bottom: solid white;
  }

  .menuItem--contenedor_submenu1 .menuItem {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .styledLinkContainer--contenedor_submenu1 {
    display: none;
  }

  .styledLinkContent{
    width: 100% !important;
  }

  .content--opciones-menu--visible{
    margin-bottom: 0px !important;
  }
}