.stackItem--savingsStack:not(.stackItem--first),
.stackItem--savingsStack:not(:last-child) {
  bottom: 10px;
  top: initial;
}

.stackItem--savingsStack:last-child {
  bottom: 28px;
  top: initial;
}


:global(.vtex-stack-layout-0-x-stackItem--savingsStack--savingSummary )
{
  display: none !important;
}
:global(.vtex-stack-layout-0-x-stackItem--savingsStack--savingPercentage){
  display: none !important;
}